/*
 * Adding WooCommerce related CSS here
 *
 * @subpackage 	css
 * @package 	bshop
 */

/* # WooCommerce Buttons
-------------------------------------------- */

.woocommerce .woocommerce-message,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-error,
.woocommerce-page .woocommerce-message,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-error {
    padding: 14px 12px 10px !important;
}

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button {
    background: #333!important;
    color: #fff!important;
    margin-top: -5px;
    padding: 6px 14px 8px!important;
}

.woocommerce .woocommerce-error .button:hover,
.woocommerce .woocommerce-info .button:hover,
.woocommerce .woocommerce-message .button:hover {
    background: #eb5139!important;
}

.add_to_cart_button:before,
.single_add_to_cart_button:before {
    content: "\f07a";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 8px;
}

.product_type_variable.add_to_cart_button:before {
    content: "\f013";
}

.add_to_cart_button.added {
    display: none!important;
}

ul.products.list li.product hr {
    clear: both;
    display: inline-block;
    margin-top: 1.9em 0 0;
    width: 100%;
}

.woocommerce ul.products.list li.product,
.woocommerce-page ul.products.list li.product {
    margin-bottom: 1.9em!important;
}

.resorder-wrap {
	border-bottom: 3px double #eee;
    border-top: 3px double #eee;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
    align-items: center;
	padding: 0;
	margin-top: 25px;
}

.resorder-wrap .gridlist-toggle,
.resorder-wrap .woocommerce-result-count,
.resorder-wrap .woocommerce-ordering {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;

	margin: 10px 0;
}

.resorder-wrap .woocommerce-result-count {
	text-align: center;	
}

.resorder-wrap .woocommerce-ordering {
	text-align: right;
}

@media only screen and (max-width: 520px) {
    .resorder-wrap {
        display: block;
        float: left;
        padding-top: 10px;
        width: 100%;
    }
    .resorder-wrap .gridlist-toggle,
    .resorder-wrap .woocommerce-result-count,
    .resorder-wrap .woocommerce-ordering {
        display: inline-block;
        float: left;
        text-align: left;
        width: 100%;
    }
}

.gridlist-toggle {
	padding: 0!important;
}

.gridlist-toggle a {
    background-color: #f5f5f5;
    color: #666;
    font-size: 12px !important;
    line-height: 1;
    padding: 16px 15px;
 }

 .gridlist-toggle a em {
    display: inline-block;
    font-style: inherit;
    height: 10px;
    overflow: hidden;
    width: 28px;
}

.gridlist-toggle a:hover,
.gridlist-toggle a.active {
    background-color: #333;
    color: #fff;
}

.woocommerce ul.products li.product a img {
    margin: 0 0 0.2em;
}

.woocommerce ul.products li.product .onsale:after,
.woocommerce span.onsale:after,
.woocommerce-page ul.products li.product .onsale:after,
.woocommerce-page span.onsale:after {
	border-color: #eb5139 #eb5139 transparent;
	border-style: solid;
    border-width: 17px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 6px;
    z-index: -1;
}

.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale,
.woocommerce-page ul.products li.product .onsale,
.woocommerce-page span.onsale {
	background: #eb5139;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	left: auto;
    line-height: 23px;
    min-height: 0;
    padding: 0 4px 0 5px;
    right: 0;
    text-transform: uppercase;
    top: 0;
    z-index: 2;
}

 ul.products li > a:hover,
 ul.products li > a:hover *,
 .entry-summary ins .woocommerce-Price-amount,
 .woocommerce .products .star-rating span::before,
 .woocommerce .star-rating span::before,
 .woocommerce-page .products .star-rating span::before,
 .woocommerce-page .star-rating span::before {
 	color: #eb5139;
 }

 .product-image {
	line-height: 0;
	margin-bottom: 12px;
	position: relative;
}

.product-image-back {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
}

.woocommerce ul.products li:hover .product-image-back,
.shoppro-owl div.products .product:hover .product-image-back,
.is_touce_device:hover .product-image-back {
	opacity: 1;
	filter: alpha(opacity=100);
}

.woocommerce ul.products li.product .price del {
    display: inline-block;
}

.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li span.current {
    background: none;
    color: #eb5139;
}

.woocommerce div.product .entry-summary .woocommerce-product-rating,
.woocommerce .products .star-rating,
.woocommerce .star-rating, .woocommerce-page .products .star-rating,
.woocommerce-page .star-rating {
    font-size: 10px;
}

.woocommerce .products .star-rating::before,
.woocommerce .star-rating::before,
.woocommerce-page .products .star-rating::before,
.woocommerce-page .star-rating::before {
    color: #d8d8d8 !important;
}


/* # Sidebar
-------------------------------------------- */

ul.product-categories li,
.woocommerce.widget_layered_nav ul li {
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
}

ul.product-categories li:last-child,
.woocommerce.widget_layered_nav ul li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

ul li span.count {
	color: #eb5139;
	float: right;
	font-size: 12px;
	line-height: 1;
	margin-top: 7px;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #eee;
    border-radius: 0;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #666;
    border-radius: 0;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    top: -0.5em;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce .widget_price_filter .ui-slider-horizontal {
    height: 0.05em;
}

#woocommerce-product-search-field,
.woocommerce-product-search input[type=submit] {
    display: inline-block;
    line-height: 1.7;
    padding: 5px 13px;
}

#woocommerce-product-search-field {
    float: left;
    width: calc(100% - 67px);
}


/* # Single Product Page
-------------------------------------------- */

.entry-summart .description {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 15px 0;
}

.product_meta > span {
	display: block;
	margin: 5px 0;
	text-transform: uppercase;
	width: 100%;
}

.woocommerce .product_meta span span,
.woocommerce .product_meta span a,
.woocommerce-page .product_meta span span,
.woocommerce-page .product_meta span a {
	text-transform: none;
    font-weight: normal;
}

.woocommerce ul.products,
.woocommerce-page ul.products {
    padding-top: 30px;
}

.related.products ul.products,
.up-sells.products ul.products {
    padding-top: 0px;
}


.cart-empty {
	margin: 40px 0;
}

/* # Checkout page
-------------------------------------------- */

#customer_details.col2-set,
.woocommerce-checkout-review-order {
    display: inline-block;
    float: left;
    width: 48%;
}

#customer_details.col2-set,
.woocommerce #review_form #respond .comment-form-author {
    margin-right: 4%;
}

#customer_details .col-1,
#customer_details .col-2,
.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
    float: none;
    width: 100%;
}

.woocommerce-billing-fields h3 {
	margin-top: 0;
}

.order-total {
    color: #eb5139;
}


/* # Shop Table
-------------------------------------------- */

.woocommerce table.shop_table,
.woocommerce-page table.shop_table,
.woocommerce #order_review,
.woocommerce-page #order_review {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
}

.woocommerce table.shop_table thead th,
.woocommerce-page table.shop_table thead th {
	border-bottom: 1px solid #eee !important;
	border-top: 1px solid #eee;
}

.woocommerce table.shop_table tr:first-child td {
	border-top: none;
}

.woocommerce #order_review .shop_table,
.woocommerce-page #order_review .shop_table {
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    margin-bottom: 10px;
    margin-top: 10px;
}


/* # My Account Page
-------------------------------------------- */

.woocommerce-MyAccount-navigation ul {
    border-top: 1px solid rgba(0, 0, 0, .05);
    margin-left: 0;
    padding-left: 0;
}

.woocommerce-MyAccount-navigation ul li {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    position: relative
}

.woocommerce-MyAccount-navigation ul li.is-active a:before {
    opacity: 1
}

.woocommerce-MyAccount-navigation ul li a {
    padding: .875em 0;
    display: block
}

.woocommerce-MyAccount-navigation ul li a:before {
    display: inline-block;
    font: normal normal normal 1em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0f6";
    line-height: 1.618;
    margin-left: .5407911001em;
    width: 1.41575em;
    text-align: right;
    float: right;
    opacity: .25
}

.woocommerce-MyAccount-navigation ul li a:hover:before {
    opacity: 1
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
    content: "\f0e4"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
    content: "\f291"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
    content: "\f1c6"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
    content: "\f015"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
    content: "\f09d"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
    content: "\f007"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
    content: "\f08b"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before {
    content: "\f021"
}

ul.order_details {
    list-style: none;
    position: relative;
    margin: 3.706325903em 0
}

ul.order_details:after,
ul.order_details:before {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    height: 16px;
    background-size: 0 100%, 16px 16px, 16px 16px
}

ul.order_details:after {
    clear: both;
    top: auto;
    bottom: -16px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

ul.order_details li {
    padding: 1em 1.618em;
    font-size: .8em;
    text-transform: uppercase
}

ul.order_details li:first-child {
    padding-top: 1.618em
}

ul.order_details li:last-child {
    border: 0;
    padding-bottom: 1.618em
}

ul.order_details li strong {
    display: block;
    font-size: 1.41575em;
    text-transform: none
}

.my_account_orders .button,
.woocommerce-MyAccount-downloads .button {
    padding: .6180469716em .875em;
    font-size: .875em;
    margin-right: .236em
}

.my_account_orders .button.view:after,
p.order-again .button:after {
    font: normal normal normal 1em/1 FontAwesome;
    display: inline-block;
    margin-left: .5407911001em;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale
}

.my_account_orders .button.view:after {
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f06e"
}

p.order-again .button:after {
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f021"
}

.woocommerce-MyAccount-downloads .button:after {
    display: inline-block;
    font: normal normal normal 1em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0ed";
    margin-left: .5407911001em
}

.woocommerce-MyAccount-content h2 {
    font-size: 2em;
    font-weight: 600
}

.woocommerce-MyAccount-content #payment .payment_methods {
    margin-bottom: 1.618em!important
}

.woocommerce-MyAccount-content #payment .payment_methods li .payment_box {
    background-color: rgba(0, 0, 0, .05)
}

@media only screen and (max-width: 620px) {
    .woocommerce-account .woocommerce-MyAccount-navigation,
    .woocommerce-account .woocommerce-MyAccount-content {
        float: none;
        width: 100%;
    }

    .woocommerce-account .woocommerce-MyAccount-content {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product,
    .woocommerce-page[class*="columns-"] ul.products li.product,
    .woocommerce[class*="columns-"] ul.products li.product {
        clear: both!important;
        float: left!important;
        margin: 0 0 2.992em!important;
        max-width: none;
        width: 48%!important;
    }

    .woocommerce ul.products li.product:nth-child(2n),
    .woocommerce-page ul.products li.product:nth-child(2n),
    .woocommerce-page[class*="columns-"] ul.products li.product:nth-child(2n),
    .woocommerce[class*="columns-"] ul.products li.product:nth-child(2n) {
        clear: none!important;
        float: right!important;
    }
}